.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background: rgba(255, 255, 255, 0.3); /* Transparent background */
  backdrop-filter: blur(10px); /* Blur effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 0 20px;
  }
  
.navbar-logo img {
    margin-left: 10%;
    height: 70px;
  }
  

.contact-us button {
    background-color: #333;
    color: aquamarine;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
  }
  
  .contact-us button:hover {
    background-color: dimgray;
  }
  navbar-buttons {
    margin-right: 10px;
  }
  
  .navbar-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff; /* Text color */
    background-color: #eb8909; /* Button background color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .navbar-buttons button:hover {
    background-color: #12b300; /* Background color on hover */
  }